<div>
    {{>post plainPostData}}

    <form>
        <div>
            <textarea id="commentBody" rows="2" placeholder="Add a comment"></textarea>
        </div>
        <button type="submit" id="submitComment">Submit</button>
    </form>

     {{#each plainCommentData}}
            {{> response comment=this}}
        {{/each}}
</div>