<form class="newpost">
    <div>
        <label for="postTitle">Title</label>
        <input type="text" id="postTitle" placeholder="Enter your title">
    </div>
    <div>
        <label for="postBody">Post Contents</label>
        <textarea rows="5" id="postBody" placeholder="Enter your thoughts"></textarea>
    </div>
    <button type="submit" id="postSubmit">Submit</button>
</form>